<html lang="en" class="text-gray-900 antialiased leading-tight">

    <head>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body class="min-h-screen bg-gray-100">
        <div class="flex items-center justify-center h-screen">
            <div class="bg-white font-bold rounded-lg border shadow-lg p-10" style="min-width: 800px">
                {{{layout.body}}}
            </div>
        </div>
    </body>

</html>